{
  "openapi": "3.1.0",
  "info": {
    "title": "REST API - ApiKey Auth",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://sandbox.eupago.pt/api/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "x-bearer-format": "",
        "x-default": ""
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/v1/split-payments/{payment-method}": {
      "post": {
        "summary": "Split-Payments",
        "description": "Use this service to create Split-payments referentes for Multibanco or MB WAY payment requests.",
        "operationId": "split-payments",
        "parameters": [
          {
            "name": "payment-method",
            "in": "path",
            "description": "Defines the payment method",
            "schema": {
              "type": "string",
              "enum": [
                "multibanco",
                "mbway",
                "bizum",
                "pix"
              ]
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount",
                  "beneficiaries"
                ],
                "properties": {
                  "amount": {
                    "type": "number",
                    "description": "Total amount of the transaction.",
                    "format": "float"
                  },
                  "identifier": {
                    "type": "string",
                    "description": "Transaction identifier"
                  },
                  "alias": {
                    "type": "string",
                    "description": "Param used only on MB WAY requests. It must be used to define to which phone number the request must be sent."
                  },
                  "adminCallback": {
                    "type": "string",
                    "description": "Use this optional field to receive a communication when this reference is paid."
                  },
                  "successUrl": {
                    "type": "string",
                    "description": "Param used only on Bizum requests. It must define the URL to which the payer will be redirected upon successful completion of the payment process."
                  },
                  "failUrl": {
                    "type": "string",
                    "description": "Param used only on Bizum requests. It must define the URL to which the payer will be redirected upon failed completion of the payment process."
                  },
                  "beneficiaries": {
                    "type": "array",
                    "description": "Array with the information of the beneficiaries of the funds of this transaction.",
                    "items": {
                      "properties": {
                        "externKey": {
                          "type": "string",
                          "description": "External Key of an EuPago account. This key is not the API Key. Please contact our Support Team for more information.",
                          "default": "xxxx-xxxx-xxxx-xxxx-xxxx"
                        },
                        "amount": {
                          "type": "number",
                          "description": "Amount this particular beneficiary will receive",
                          "format": "float"
                        },
                        "identifier": {
                          "type": "string",
                          "description": "Transaction identifier for this particular beneficiary."
                        },
                        "immediatePayment": {
                          "type": "boolean",
                          "description": "Set if the payment should be immediate."
                        }
                      },
                      "required": [
                        "externKey",
                        "amount"
                      ],
                      "type": "object"
                    }
                  }
                }
              },
              "examples": {
                "MB WAY Request": {
                  "value": {
                    "amount": 4.68,
                    "identifier": "Pedido split-payments MB WAY - Dois beneficiários",
                    "alias": "123456789",
                    "adminCallback": "http://exemplo.pt",
                    "beneficiaries": [
                      {
                        "externKey": "xxxx-xxxx-xxxx-xxxx",
                        "amount": 2.34,
                        "identifier": "Id 1",
                        "immediatePayment": false
                      },
                      {
                        "externKey": "xxxx-xxxx-xxxx-xxxx",
                        "amount": 2.34,
                        "identifier": "Id 2",
                        "immediatePayment": false
                      }
                    ]
                  }
                },
                "Multibanco Request": {
                  "value": {
                    "amount": 4.68,
                    "identifier": "Pedido split-payments Multibanco - Dois beneficiários",
                    "adminCallback": "http://exemplo.pt",
                    "beneficiaries": [
                      {
                        "externKey": "xxxx-xxxx-xxxx-xxxx",
                        "amount": 2.34,
                        "identifier": "Id 1",
                        "immediatePayment": false
                      },
                      {
                        "externKey": "xxxx-xxxx-xxxx-xxxx",
                        "amount": 2.34,
                        "identifier": "Id 2",
                        "immediatePayment": false
                      }
                    ]
                  }
                },
                "Bizum Request": {
                  "value": {
                    "amount": 4.68,
                    "identifier": "Pedido split-payments Bizum - Dois beneficiários",
                    "alias": "123456789",
                    "adminCallback": "https://eupago.pt",
                    "successUrl": "https://eupago.pt",
                    "failUrl": "https://eupago.pt",
                    "beneficiaries": [
                      {
                        "externKey": "demo-abcd-efgh-ijkl-mnaz",
                        "amount": 2,
                        "identifier": "Pedido split-payments Bizum - Dois beneficiários",
                        "immediatePayment": true
                      },
                      {
                        "externKey": "9b35-c188-f9a9-d5a6",
                        "amount": 2,
                        "identifier": "Pedido split-payments Bizum - Dois beneficiários",
                        "immediatePayment": true
                      }
                    ]
                  }
                },
                "Pix Request": {
                  "value": {
                    "amount": 4.68,
                    "identifier": "Pedido split-payments Pix - Dois beneficiários",
                    "adminCallback": "https://eupago.pt",
                    "beneficiaries": [
                      {
                        "externKey": "demo-abcd-efgh-ijkl-mnaz",
                        "amount": 2,
                        "identifier": "Pedido split-payments Pix - Dois beneficiários",
                        "immediatePayment": true
                      },
                      {
                        "externKey": "9b35-c188-f9a9-d5a6",
                        "amount": 2,
                        "identifier": "Pedido split-payments Pix - Dois beneficiários",
                        "immediatePayment": true
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "{\n  \"transactionStatus\": \"Success\",\n  \"entity\": \"82307\",\n  \"reference\": \"100502152\",\n  \"amount\": \"4.68\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactionStatus": {
                      "type": "string",
                      "example": "Success"
                    },
                    "entity": {
                      "type": "string",
                      "example": "82307"
                    },
                    "reference": {
                      "type": "string",
                      "example": "100502152"
                    },
                    "amount": {
                      "type": "string",
                      "example": "4.68"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Auth Missing": {
                    "value": "{\n  \"transactionStatus\": \"Rejected\",\n  \"code\": \"APIKEY_MISSING\",\n  \"text\": \"API Key was not available in the request\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactionStatus": {
                      "type": "string",
                      "example": "Rejected"
                    },
                    "code": {
                      "type": "string",
                      "example": "APIKEY_MISSING"
                    },
                    "text": {
                      "type": "string",
                      "example": "API Key was not available in the request"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1.02/directdebit/authorization": {
      "post": {
        "summary": "Direct Debit Authorization",
        "description": "Use this request to create Debit Direct Authorizations. This request will create an Authorization PDF with a reference number (authorizationId) , which will be sent to the debtor's email.",
        "operationId": "direct-debit-authorization",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "debtor",
                  "payment"
                ],
                "properties": {
                  "identifier": {
                    "type": "string"
                  },
                  "adminCallback": {
                    "type": "string",
                    "description": "Use this optional field to receive a communication when this reference is paid."
                  },
                  "debtor": {
                    "type": "object",
                    "description": "Array with debtor information.",
                    "required": [
                      "iban",
                      "name",
                      "bic",
                      "email"
                    ],
                    "properties": {
                      "address": {
                        "type": "object",
                        "description": "Debtor's Address",
                        "required": [
                          "zipCode",
                          "country",
                          "street",
                          "locality"
                        ],
                        "properties": {
                          "zipCode": {
                            "type": "string",
                            "description": "zipCode of the address (do not insert the city)"
                          },
                          "country": {
                            "type": "string"
                          },
                          "street": {
                            "type": "string"
                          },
                          "locality": {
                            "type": "string",
                            "description": "City"
                          }
                        }
                      },
                      "iban": {
                        "type": "string",
                        "description": "Debtor's IBAN"
                      },
                      "name": {
                        "type": "string",
                        "description": "Debtor's Name"
                      },
                      "bic": {
                        "type": "string",
                        "description": "Debtor's BIC/SWIFT"
                      },
                      "email": {
                        "type": "string",
                        "description": "Debtor's Email. Used to send the Authorization PDF and next payment notifications."
                      }
                    }
                  },
                  "payment": {
                    "type": "object",
                    "description": "Array with payment information.",
                    "required": [
                      "autoProcess",
                      "limitDate",
                      "type"
                    ],
                    "properties": {
                      "date": {
                        "type": "string",
                        "description": "Format YYYY-MM-DD",
                        "format": "date"
                      },
                      "amount": {
                        "type": "number",
                        "format": "float"
                      },
                      "autoProcess": {
                        "type": "string",
                        "description": "Defines if the debit will processed by the API automatically (1) or there will be a manual debit instruction (0).",
                        "enum": [
                          "0",
                          "1"
                        ]
                      },
                      "collectionDay": {
                        "type": "integer",
                        "description": "Mandatory if it is defined a periodicity and it's type is RCUR.",
                        "format": "int32"
                      },
                      "periodicity": {
                        "type": "string",
                        "description": "Defines the periodicity of the debit",
                        "enum": [
                          "Semanal",
                          "Quinzenal",
                          "Mensal",
                          "Trimestral",
                          "Semestral",
                          "Anual"
                        ]
                      },
                      "limitDate": {
                        "type": "string",
                        "description": "Date (YYYY-MM-DD) defined to be the last debit for this Authorization",
                        "format": "date"
                      },
                      "type": {
                        "type": "string",
                        "description": "Type of debit. OOFF must be used on Authorizations that will only have one debit. RCUR is used for Authorizations that have recurring debits",
                        "enum": [
                          "OOFF",
                          "RCUR"
                        ]
                      }
                    }
                  }
                }
              },
              "examples": {
                "Example RCUR": {
                  "value": {
                    "identifier": "exemplo pedido recorrente mensal",
                    "adminCallback": "https://exemplo.pt",
                    "debtor": {
                      "name": "NomeDoDevedor",
                      "email": "email.devedor@exemplo.pt",
                      "iban": "PT50123443211234567890172",
                      "bic": "TESTE",
                      "address": {
                        "street": "MoradaExemplo",
                        "zipCode": "1234-567",
                        "locality": "Cidade",
                        "country": "PT"
                      }
                    },
                    "payment": {
                      "date": "2022-02-01",
                      "amount": "20.00",
                      "autoProcess": "1",
                      "periodicity": "Mensal",
                      "limitDate": "2023-02-01",
                      "type": "RCUR"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "{\n\"transactionStatus\": \"Success\",\n\"reference\": \"101086000000011332\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactionStatus": {
                      "type": "string",
                      "example": "Success"
                    },
                    "reference": {
                      "type": "string",
                      "example": "101086000000011332"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Auth Missing": {
                    "value": "{\n  \"transactionStatus\": \"Rejected\",\n  \"code\": \"APIKEY_MISSING\",\n  \"text\": \"API Key was not available in the request\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactionStatus": {
                      "type": "string",
                      "example": "Rejected"
                    },
                    "code": {
                      "type": "string",
                      "example": "APIKEY_MISSING"
                    },
                    "text": {
                      "type": "string",
                      "example": "API Key was not available in the request"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1.02/directdebit/payment/{reference}": {
      "post": {
        "summary": "Direct Debit Payment",
        "description": "Use this request to create a manual debit request for a Direct Debit Authorization",
        "operationId": "direct-debit-payment",
        "parameters": [
          {
            "name": "reference",
            "in": "path",
            "description": "authorizationId",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "date",
                  "amount",
                  "type"
                ],
                "properties": {
                  "date": {
                    "type": "string",
                    "description": "Debit Date (YYYY-MM-DD)",
                    "format": "date"
                  },
                  "amount": {
                    "type": "number",
                    "format": "float"
                  },
                  "type": {
                    "type": "string",
                    "description": "Type of debit. If it is the final debit of the Authorization you must send the value FNAL.",
                    "default": "RCUR",
                    "enum": [
                      "RCUR",
                      "FNAL"
                    ]
                  },
                  "obs": {
                    "type": "string",
                    "description": "An optional field that will define the identifier of the reference. When missing the reference will assume the identifier of the corresponding Authorization"
                  }
                }
              },
              "examples": {
                "Example": {
                  "value": {
                    "type": "RCUR",
                    "amount": "20",
                    "date": "2022-01-05"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "{\n\t\"transactionStatus\": \"Success\",\n\t\"collectionDate\": \"2022-01-05\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactionStatus": {
                      "type": "string",
                      "example": "Success"
                    },
                    "collectionDate": {
                      "type": "string",
                      "example": "2022-01-05"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Auth Missing": {
                    "value": "{\n  \"transactionStatus\": \"Rejected\",\n  \"code\": \"APIKEY_MISSING\",\n  \"text\": \"API Key was not available in the request\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactionStatus": {
                      "type": "string",
                      "example": "Rejected"
                    },
                    "code": {
                      "type": "string",
                      "example": "APIKEY_MISSING"
                    },
                    "text": {
                      "type": "string",
                      "example": "API Key was not available in the request"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1.02/creditcard/create": {
      "post": {
        "summary": "Credit Card",
        "description": "Creates an url to a secure form where the customer may finish the Credit Card payment.\n\nSupports 3D Secure Technology.",
        "operationId": "credit-card",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "payment",
                  "customer"
                ],
                "properties": {
                  "payment": {
                    "type": "object",
                    "description": "Informations regarding the payment",
                    "required": [
                      "successUrl",
                      "failUrl",
                      "backUrl"
                    ],
                    "properties": {
                      "identifier": {
                        "type": "string"
                      },
                      "amount": {
                        "type": "object",
                        "required": [
                          "value",
                          "currency"
                        ],
                        "properties": {
                          "value": {
                            "type": "number",
                            "description": "Payment amount",
                            "format": "float"
                          },
                          "currency": {
                            "type": "string",
                            "default": "EUR"
                          }
                        }
                      },
                      "successUrl": {
                        "type": "string",
                        "description": "The payer will be forwarded to this url if the payment process is successful."
                      },
                      "failUrl": {
                        "type": "string",
                        "description": "The payer will be forwarded to this url if the payment process fails (eg: no funds, problems with 3DS)"
                      },
                      "backUrl": {
                        "type": "string",
                        "description": "The payer will be forwarded to this url if the user presses back."
                      },
                      "lang": {
                        "type": "string",
                        "description": "Defines the Language of the form.",
                        "default": "PT"
                      },
                      "minutesFormUp": {
                        "type": "integer",
                        "description": "Number of minutes that the url for the payment form will remain active. After that time the form will be unaccessible and the reference expired. Max and default 1440 minutes",
                        "default": 1440,
                        "format": "int32"
                      }
                    }
                  },
                  "customer": {
                    "type": "object",
                    "description": "Informations regarding customer's notifications",
                    "required": [
                      "notify",
                      "email"
                    ],
                    "properties": {
                      "notify": {
                        "type": "boolean",
                        "default": true
                      },
                      "email": {
                        "type": "string",
                        "description": "Customer's email"
                      }
                    }
                  }
                }
              },
              "examples": {
                "Example": {
                  "value": {
                    "payment": {
                      "identifier": "Test",
                      "amount": {
                        "value": 2,
                        "currency": "EUR"
                      },
                      "successUrl": "https://eupago.pt",
                      "failUrl": "https://eupago.pt",
                      "backUrl": "https://eupago.pt",
                      "lang": "PT"
                    },
                    "customer": {
                      "notify": true,
                      "email": "teste@eupago.pt"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "{\n\t\"transactionStatus\": \"Success\",\n  \"transactionID\": \"6526ds26653sad5489sa32\",\n  \"reference\": \"00235\",\n  \"redirectUrl\": \"https://clientes.eupago.pt/api/extern/creditcard/form/6526ds26653sad5489sa32\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactionStatus": {
                      "type": "string",
                      "example": "Success"
                    },
                    "transactionID": {
                      "type": "string",
                      "example": "6526ds26653sad5489sa32"
                    },
                    "reference": {
                      "type": "string",
                      "example": "00235"
                    },
                    "redirectUrl": {
                      "type": "string",
                      "example": "https://clientes.eupago.pt/api/extern/creditcard/form/6526ds26653sad5489sa32"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Auth Missing": {
                    "value": "{\n  \"transactionStatus\": \"Rejected\",\n  \"code\": \"APIKEY_MISSING\",\n  \"text\": \"API Key was not available in the request\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactionStatus": {
                      "type": "string",
                      "example": "Rejected"
                    },
                    "code": {
                      "type": "string",
                      "example": "APIKEY_MISSING"
                    },
                    "text": {
                      "type": "string",
                      "example": "API Key was not available in the request"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1.02/cofidis/create": {
      "post": {
        "summary": "CofidisPay",
        "description": "Creates a request to allow the customer to pay using CofidisPay service.",
        "operationId": "cofidis-pay",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "payment",
                  "customer",
                  "items"
                ],
                "properties": {
                  "payment": {
                    "type": "object",
                    "description": "Informations regarding the payment",
                    "required": [
                      "successUrl",
                      "failUrl",
                      "taxCode"
                    ],
                    "properties": {
                      "identifier": {
                        "type": "string"
                      },
                      "amount": {
                        "type": "object",
                        "description": "Payment amount and currency",
                        "required": [
                          "value",
                          "currency"
                        ],
                        "properties": {
                          "value": {
                            "type": "number",
                            "description": "Payment amount",
                            "format": "float"
                          },
                          "currency": {
                            "type": "string",
                            "default": "EUR"
                          }
                        }
                      },
                      "successUrl": {
                        "type": "string",
                        "description": "Payer will be forwarded to this url if the transaction is successful."
                      },
                      "failUrl": {
                        "type": "string",
                        "description": "Payer will be forwarded to this url if the transaction fails."
                      },
                      "taxCode": {
                        "type": "string",
                        "description": "If you are a **Biziq** user and have the tax rate equal to **0**, please choose the correct code. If not, choose the code \"null\".",
                        "enum": [
                          null,
                          "M01",
                          "M02",
                          "M03",
                          "M04",
                          "M05",
                          "M06",
                          "M07",
                          "M08",
                          "M09",
                          "M10",
                          "M11",
                          "M12",
                          "M13",
                          "M14",
                          "M15",
                          "M16",
                          "M19",
                          "M20",
                          "M21",
                          "M25",
                          "M26",
                          "M30",
                          "M31",
                          "M32",
                          "M33",
                          "M34",
                          "M40",
                          "M41",
                          "M42",
                          "M43",
                          "M99"
                        ]
                      }
                    }
                  },
                  "customer": {
                    "type": "object",
                    "description": "Customer information",
                    "required": [
                      "notify",
                      "email",
                      "name",
                      "vatNumber"
                    ],
                    "properties": {
                      "notify": {
                        "type": "boolean",
                        "description": "Specifies if the use should receive an email on their inbox to finish the operation."
                      },
                      "email": {
                        "type": "string",
                        "description": "Must always be filled, even if notify param is false."
                      },
                      "name": {
                        "type": "string",
                        "description": "Customer's name"
                      },
                      "socialSecurityNumber": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "citizenNumber": {
                        "type": "string"
                      },
                      "checkDigit": {
                        "type": "string",
                        "description": "Note: Do not leave blank spaces (correct: XYZ8 | wrong: XYZ 8)"
                      },
                      "issueCardDate": {
                        "type": "string",
                        "description": "YYYY-MM-DD",
                        "format": "date"
                      },
                      "vatNumber": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "phoneNumber": {
                        "type": "string"
                      },
                      "birthDate": {
                        "type": "string",
                        "description": "YYYY-MM-DD",
                        "format": "date"
                      },
                      "billingAddress": {
                        "type": "object",
                        "required": [
                          "address",
                          "zipCode",
                          "city"
                        ],
                        "properties": {
                          "address": {
                            "type": "string",
                            "description": "Street name"
                          },
                          "zipCode": {
                            "type": "string"
                          },
                          "city": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "items": {
                    "type": "array",
                    "description": "All items in the order. This param may include different objects (items).",
                    "items": {
                      "properties": {
                        "reference": {
                          "type": "string",
                          "description": "Product code"
                        },
                        "price": {
                          "type": "number",
                          "description": "Product price (without IVA or other fees)",
                          "format": "float"
                        },
                        "quantity": {
                          "type": "integer",
                          "description": "Number of times this product is ordered",
                          "format": "int32"
                        },
                        "tax": {
                          "type": "number",
                          "description": "Tax percentage",
                          "format": "float"
                        },
                        "discount": {
                          "type": "number",
                          "format": "float"
                        },
                        "description": {
                          "type": "string",
                          "description": "Product name"
                        }
                      },
                      "required": [
                        "reference",
                        "price",
                        "quantity",
                        "tax",
                        "discount",
                        "description"
                      ],
                      "type": "object"
                    }
                  }
                }
              },
              "examples": {
                "Example": {
                  "value": {
                    "payment": {
                      "identifier": "exemplo",
                      "amount": {
                        "value": 65,
                        "currency": "EUR"
                      },
                      "successUrl": "https://www.eupago.pt",
                      "failUrl": "https://www.eupago.pt"
                    },
                    "customer": {
                      "notify": true,
                      "email": "exemplo@eupago.pt",
                      "name": "Teste euPago",
                      "socialSecurityNumber": 123456789,
                      "citizenNumber": "123456789",
                      "checkDigit": "1YZ4",
                      "issueCardDate": "2020-12-14",
                      "vatNumber": 123456789,
                      "phoneNumber": "123456789",
                      "birthDate": "1980-10-14",
                      "billingAddress": {
                        "address": "Rua",
                        "zipCode": "1234-567",
                        "city": "Localidade"
                      }
                    },
                    "items": [
                      {
                        "reference": "item1",
                        "price": 50,
                        "quantity": 1,
                        "tax": 23,
                        "discount": 0,
                        "description": "descrição1"
                      },
                      {
                        "reference": "item2",
                        "price": 10,
                        "quantity": 2,
                        "tax": 23,
                        "discount": 0,
                        "description": "descrição2"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"transactionStatus\": \"Success\",\n    \"transactionID\": \"4523566c0e8f7fb7306bae1500278a85\",\n    \"reference\": \"007\",\n    \"redirectUrl\": \"https://sandbox.eupago.pt/api/extern/cofidis/form/4523566c0e8f7fb7306bae1500278a85\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactionStatus": {
                      "type": "string",
                      "example": "Success"
                    },
                    "transactionID": {
                      "type": "string",
                      "example": "4523566c0e8f7fb7306bae1500278a85"
                    },
                    "reference": {
                      "type": "string",
                      "example": "007"
                    },
                    "redirectUrl": {
                      "type": "string",
                      "example": "https://sandbox.eupago.pt/api/extern/cofidis/form/4523566c0e8f7fb7306bae1500278a85"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Amount Missing": {
                    "value": "{\n  \"transactionStatus\": \"Rejected\",\n  \"code\": \"AMOUNT_MISSING\",\n  \"text\": \"Amount was not available in the request\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactionStatus": {
                      "type": "string",
                      "example": "Rejected"
                    },
                    "code": {
                      "type": "string",
                      "example": "AMOUNT_MISSING"
                    },
                    "text": {
                      "type": "string",
                      "example": "Amount was not available in the request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Auth Missing": {
                    "value": "{\n  \"transactionStatus\": \"Rejected\",\n  \"code\": \"APIKEY_MISSING\",\n  \"text\": \"API Key was not available in the request\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactionStatus": {
                      "type": "string",
                      "example": "Rejected"
                    },
                    "code": {
                      "type": "string",
                      "example": "APIKEY_MISSING"
                    },
                    "text": {
                      "type": "string",
                      "example": "API Key was not available in the request"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1.02/multibanco/batch": {
      "post": {
        "summary": "Multibanco (batch)",
        "description": "Use this method to create multiple Multibanco references at the same time.",
        "operationId": "multibanco-batch",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/p24/create": {
      "post": {
        "summary": "P24",
        "description": "Polish Payment Method. Creates a request that redirects the payer to an external form to pay with P24.",
        "operationId": "p24",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount",
                  "urlreturn"
                ],
                "properties": {
                  "amount": {
                    "type": "number",
                    "description": "Amount to pay in Złoty (‎PLN‎)‎.",
                    "format": "float"
                  },
                  "identifier": {
                    "type": "string"
                  },
                  "urlreturn": {
                    "type": "string",
                    "description": "Used to define the url to where the customer will be redirected he/she finishes the payment."
                  },
                  "admincallback": {
                    "type": "string",
                    "description": "Use this optional param to receive a communication when this reference is paid."
                  }
                }
              },
              "examples": {
                "Example": {
                  "value": {
                    "amount": 5.22,
                    "identifier": "test",
                    "urlreturn": "https://eupago.pt",
                    "admincallback": "https://eupago.pt"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "examples": {
                  "Created": {
                    "value": "{\n    \"transactionStatus\": \"Success\",\n    \"urlresult\": \"https://sandbox.przelewy24.pl/trnRequest/7A2C48BF8C-850839-8CEA01-B589ACBFFC\",\n    \"reference\": \"000000964\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactionStatus": {
                      "type": "string",
                      "example": "Success"
                    },
                    "urlresult": {
                      "type": "string",
                      "example": "https://sandbox.przelewy24.pl/trnRequest/7A2C48BF8C-850839-8CEA01-B589ACBFFC"
                    },
                    "reference": {
                      "type": "string",
                      "example": "000000964"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Amount Missing": {
                    "value": "{\n    \"transactionStatus\": \"Rejected\",\n    \"code\": \"AMOUNT_MISSING\",\n    \"text\": \"Amount was not available in the request\"\n}"
                  },
                  "Urlreturn Missing": {
                    "value": "{\n    \"transactionStatus\": \"Rejected\",\n    \"code\": \"URLRETURN_MISSING\",\n    \"text\": \"Url Return was not available in the request\"\n}"
                  }
                },
                "schema": {
                  "oneOf": [
                    {
                      "title": "Amount Missing",
                      "type": "object",
                      "properties": {
                        "transactionStatus": {
                          "type": "string",
                          "example": "Rejected"
                        },
                        "code": {
                          "type": "string",
                          "example": "AMOUNT_MISSING"
                        },
                        "text": {
                          "type": "string",
                          "example": "Amount was not available in the request"
                        }
                      }
                    },
                    {
                      "title": "Urlreturn Missing",
                      "type": "object",
                      "properties": {
                        "transactionStatus": {
                          "type": "string",
                          "example": "Rejected"
                        },
                        "code": {
                          "type": "string",
                          "example": "URLRETURN_MISSING"
                        },
                        "text": {
                          "type": "string",
                          "example": "Url Return was not available in the request"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Auth Missing": {
                    "value": "{\n    \"transactionStatus\": \"Rejected\",\n    \"code\": \"APIKEY_MISSING\",\n    \"text\": \"API Key was not available in the request\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactionStatus": {
                      "type": "string",
                      "example": "Rejected"
                    },
                    "code": {
                      "type": "string",
                      "example": "APIKEY_MISSING"
                    },
                    "text": {
                      "type": "string",
                      "example": "API Key was not available in the request"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1.02/santander/create": {
      "post": {
        "summary": "Santander Consumer",
        "description": "Creates a request to allow the customer to pay using Santander Consumer service.",
        "operationId": "santander-consumer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "payment",
                  "customer"
                ],
                "properties": {
                  "payment": {
                    "type": "object",
                    "description": "Informations regarding the payment",
                    "required": [
                      "successUrl",
                      "failUrl",
                      "backUrl"
                    ],
                    "properties": {
                      "identifier": {
                        "type": "string"
                      },
                      "amount": {
                        "type": "object",
                        "required": [
                          "value",
                          "currency"
                        ],
                        "properties": {
                          "value": {
                            "type": "number",
                            "description": "Payment amount",
                            "format": "float"
                          },
                          "currency": {
                            "type": "string",
                            "default": "EUR"
                          }
                        }
                      },
                      "successUrl": {
                        "type": "string",
                        "description": "The payer will be forwarded to this url if the payment process is successful."
                      },
                      "failUrl": {
                        "type": "string",
                        "description": "The payer will be forwarded to this url if the payment process fails (eg: no funds, problems with 3DS)"
                      },
                      "backUrl": {
                        "type": "string",
                        "description": "The payer will be forwarded to this url if the user presses back."
                      },
                      "lang": {
                        "type": "string",
                        "description": "Defines the Language of the form.",
                        "default": "PT"
                      },
                      "minutesFormUp": {
                        "type": "integer",
                        "description": "Number of minutes that the url for the payment form will remain active. After that time the form will be unaccessible and the reference expired. Max and default 1440 minutes",
                        "default": 1440,
                        "format": "int32"
                      }
                    }
                  },
                  "customer": {
                    "type": "object",
                    "description": "Informations regarding customer's notifications",
                    "required": [
                      "notify",
                      "email"
                    ],
                    "properties": {
                      "notify": {
                        "type": "boolean",
                        "default": true
                      },
                      "email": {
                        "type": "string",
                        "description": "Customer's email"
                      }
                    }
                  }
                }
              },
              "examples": {
                "Example": {
                  "value": {
                    "payment": {
                      "identifier": "Test",
                      "amount": {
                        "value": 2,
                        "currency": "EUR"
                      },
                      "successUrl": "https://eupago.pt",
                      "failUrl": "https://eupago.pt",
                      "backUrl": "https://eupago.pt",
                      "lang": "PT"
                    },
                    "customer": {
                      "notify": true,
                      "email": "teste@eupago.pt"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "TBD"
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Auth Missing": {
                    "value": "{\n  \"transactionStatus\": \"Rejected\",\n  \"code\": \"APIKEY_MISSING\",\n  \"text\": \"API Key was not available in the request\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactionStatus": {
                      "type": "string",
                      "example": "Rejected"
                    },
                    "code": {
                      "type": "string",
                      "example": "APIKEY_MISSING"
                    },
                    "text": {
                      "type": "string",
                      "example": "API Key was not available in the request"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1.02/creditcard/subscription": {
      "post": {
        "summary": "Credit Card - Recurrence Authorization",
        "description": "Creates an url to a secure form where the customer may finish the Credit Card recurrency. Supports 3D Secure Technology.",
        "operationId": "credit-card-recurrence-authorization",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "payment"
                ],
                "properties": {
                  "payment": {
                    "type": "object",
                    "required": [
                      "successUrl",
                      "failUrl",
                      "backUrl"
                    ],
                    "properties": {
                      "identifier": {
                        "type": "string"
                      },
                      "amount": {
                        "type": "object",
                        "required": [
                          "value",
                          "currency"
                        ],
                        "properties": {
                          "value": {
                            "type": "number",
                            "description": "Payment amount",
                            "format": "float"
                          },
                          "currency": {
                            "type": "string",
                            "default": "EUR"
                          }
                        }
                      },
                      "subscription": {
                        "type": "object",
                        "required": [
                          "autoProcess",
                          "periodicity",
                          "date",
                          "limitDate"
                        ],
                        "properties": {
                          "autoProcess": {
                            "type": "integer",
                            "description": "Parameter that defines the intention of auto-processing payments with a value of 0 for \"no\" or 1 for \"yes.\"",
                            "default": 0,
                            "format": "int32"
                          },
                          "collectionDay": {
                            "type": "integer",
                            "description": "Parameter referring to the transaction execution day in auto-processed payments (Relevant only when autoProcess is set to 1). If left blank, it will assume the current day as reference.",
                            "default": null,
                            "format": "int32"
                          },
                          "periodicity": {
                            "type": "string",
                            "description": "Paramenter referring to the periodicity of auto-processing (Required if autoProcess = 1)",
                            "enum": [
                              "Semanal",
                              "Quinzenal",
                              "Mensal",
                              "Trimestral",
                              "Semestral",
                              "Anual"
                            ]
                          },
                          "date": {
                            "type": "string",
                            "description": "In YYYY-MM-DD format. Date from which recurrence activation and use will be possible"
                          },
                          "limitDate": {
                            "type": "string",
                            "description": "In YYYY-MM-DD format. Date until which the recurrence can be used (After this date, the recurrence expires, and a new one must be executed)."
                          },
                          "customer": {
                            "type": "object",
                            "description": "Object that encompasses the customer's phone, email and name responsible for the credit card.",
                            "properties": {
                              "notify": {
                                "type": "boolean",
                                "description": "To define if the customer will be notified with the data of subscription request by email/sms.",
                                "default": false
                              },
                              "phone": {
                                "type": "string",
                                "description": "National mobile phone number for recurrence notifications, one-time payments, and subscriptions (No area code required, enter only 9 digits)."
                              },
                              "email": {
                                "type": "string",
                                "description": "Email for recurrence notifications, one-time payments, and subscriptions."
                              },
                              "name": {
                                "type": "string",
                                "description": "Name of the customer to be displayed in recurrence notifications, one-time payments, and subscriptions."
                              }
                            }
                          }
                        }
                      },
                      "successUrl": {
                        "type": "string",
                        "description": "The payer will be forwarded to this url if the payment process is successful."
                      },
                      "failUrl": {
                        "type": "string",
                        "description": "The payer will be forwarded to this url if the payment process fails (eg: no funds, problems with 3DS)"
                      },
                      "backUrl": {
                        "type": "string",
                        "description": "The payer will be forwarded to this url if the user presses back."
                      },
                      "lang": {
                        "type": "string",
                        "description": "Defines the Language of the form.",
                        "default": "PT"
                      },
                      "minutesFormUp": {
                        "type": "integer",
                        "description": "Number of minutes that the url for the payment form will remain active. After that time the form will be unaccessible and the reference expired. Max and default 1440 minutes",
                        "default": 1440,
                        "format": "int32"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"transactionStatus\": \"Success\",\n    \"statusSubs\": \"Pending\",\n    \"subscriptionID\": \"5e7290a8d31b53489b896a9560bc93a3\",\n    \"referenceSubs\": \"14551\",\n    \"redirectUrl\": \"https://sandbox.eupago.pt/api/extern/creditcard/formsub/5e7290a8d31b53489b896a9560bc93a3\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactionStatus": {
                      "type": "string",
                      "example": "Success"
                    },
                    "statusSubs": {
                      "type": "string",
                      "example": "Pending"
                    },
                    "subscriptionID": {
                      "type": "string",
                      "example": "5e7290a8d31b53489b896a9560bc93a3"
                    },
                    "referenceSubs": {
                      "type": "string",
                      "example": "14551"
                    },
                    "redirectUrl": {
                      "type": "string",
                      "example": "https://sandbox.eupago.pt/api/extern/creditcard/formsub/5e7290a8d31b53489b896a9560bc93a3"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1.02/creditcard/payment/{recurrentID}": {
      "post": {
        "summary": "Credit Card - Recurrence Payment",
        "description": "Creates a Credit Card Recurrent MIT (Merchant initiated transaction) payment after a sucessful authorization.",
        "operationId": "credit-card-recurrence-payment",
        "parameters": [
          {
            "name": "recurrentID",
            "in": "path",
            "description": "Parameter that can be consulted in Eupago's backOffice",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "payment"
                ],
                "properties": {
                  "payment": {
                    "type": "object",
                    "properties": {
                      "amount": {
                        "type": "object",
                        "description": "Place your amount parameters",
                        "required": [
                          "value",
                          "currency"
                        ],
                        "properties": {
                          "value": {
                            "type": "number",
                            "description": "Payment amount",
                            "format": "float"
                          },
                          "currency": {
                            "type": "string",
                            "default": "EUR"
                          }
                        }
                      },
                      "identifier": {
                        "type": "string",
                        "description": "Place a custom identifier to your payment request. In case of omission, it will assume the identifier of the corresponding authorization."
                      }
                    }
                  },
                  "customer": {
                    "type": "object",
                    "description": "To trigger the notification for the customer on successful payment.",
                    "properties": {
                      "notify": {
                        "type": "boolean",
                        "description": "When it's 'True', it will trigger a notification by email/sms for the customer info setted on the corresponding authorization request."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"transactionStatus\": \"Success\",\n    \"status\": \"Paid\",\n    \"transactionID\": \"c7e59d7e0d835354a50081c43b9febcc\",\n    \"reference\": \"115805\",\n    \"message\": \"Payment has been executed successfully.\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactionStatus": {
                      "type": "string",
                      "example": "Success"
                    },
                    "status": {
                      "type": "string",
                      "example": "Paid"
                    },
                    "transactionID": {
                      "type": "string",
                      "example": "c7e59d7e0d835354a50081c43b9febcc"
                    },
                    "reference": {
                      "type": "string",
                      "example": "115805"
                    },
                    "message": {
                      "type": "string",
                      "example": "Payment has been executed successfully."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1.02/mbway/create": {
      "post": {
        "summary": "MB WAY",
        "description": "Creates MB WAY payment requests. (The customer have 5 minutes to execute the payment after receiving the payment notification via MBWAY app.)",
        "operationId": "mbway",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "payment"
                ],
                "properties": {
                  "payment": {
                    "type": "object",
                    "description": "Informations regarding the payment",
                    "required": [
                      "customerPhone",
                      "countryCode"
                    ],
                    "properties": {
                      "identifier": {
                        "type": "string"
                      },
                      "amount": {
                        "type": "object",
                        "required": [
                          "value",
                          "currency"
                        ],
                        "properties": {
                          "value": {
                            "type": "number",
                            "description": "Payment amount",
                            "format": "float"
                          },
                          "currency": {
                            "type": "string",
                            "default": "EUR"
                          }
                        }
                      },
                      "customerPhone": {
                        "type": "string",
                        "description": "Phone number that is connected to the MB WAY app and will accept the payment"
                      },
                      "countryCode": {
                        "type": "string",
                        "description": "Respective country code from the customer phone (+351 for portuguese number)"
                      }
                    }
                  },
                  "customer": {
                    "type": "object",
                    "description": "Informations regarding customer's notifications",
                    "properties": {
                      "notify": {
                        "type": "boolean",
                        "description": "A parameter that defines if the final client want to be notified of the payment request by email"
                      },
                      "failOver": {
                        "type": "string",
                        "description": "A parameter that defines if the final client will recieve an sms/email reminder notification in case of fail payment (\"0\" or \"1\" string value)"
                      },
                      "name": {
                        "type": "string",
                        "description": "Customer's name"
                      },
                      "email": {
                        "type": "string",
                        "description": "Customer's email (required if failOver = \"1\")"
                      },
                      "phone": {
                        "type": "string",
                        "description": "Customer's phone number  (required if failOver = \"1\", 9 digits string)"
                      }
                    }
                  }
                }
              },
              "examples": {
                "Example": {
                  "value": {
                    "payment": {
                      "identifier": "Test",
                      "amount": {
                        "value": 2,
                        "currency": "EUR"
                      },
                      "successUrl": "https://eupago.pt",
                      "failUrl": "https://eupago.pt",
                      "backUrl": "https://eupago.pt",
                      "lang": "PT"
                    },
                    "customer": {
                      "notify": true,
                      "email": "teste@eupago.pt"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "{\n    \"transactionStatus\": \"Success\",\n    \"transactionID\": \"fc4740349d5b350eca08fa5e503fa0aa\",\n    \"reference\": \"2914983\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactionStatus": {
                      "type": "string",
                      "example": "Success"
                    },
                    "transactionID": {
                      "type": "string",
                      "example": "fc4740349d5b350eca08fa5e503fa0aa"
                    },
                    "reference": {
                      "type": "string",
                      "example": "2914983"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Auth Missing": {
                    "value": "{\n  \"transactionStatus\": \"Rejected\",\n  \"code\": \"APIKEY_MISSING\",\n  \"text\": \"API Key was not available in the request\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactionStatus": {
                      "type": "string",
                      "example": "Rejected"
                    },
                    "code": {
                      "type": "string",
                      "example": "APIKEY_MISSING"
                    },
                    "text": {
                      "type": "string",
                      "example": "API Key was not available in the request"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1.02/paybylink/create": {
      "post": {
        "summary": "PayByLink",
        "description": "Creates a request to allow the customer to pay using PayByLink.",
        "operationId": "paybylink",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "payment"
                ],
                "properties": {
                  "payment": {
                    "type": "object",
                    "description": "Informations regarding the payment",
                    "properties": {
                      "identifier": {
                        "type": "string"
                      },
                      "amount": {
                        "type": "object",
                        "required": [
                          "value",
                          "currency"
                        ],
                        "properties": {
                          "value": {
                            "type": "number",
                            "description": "Payment amount",
                            "format": "float"
                          },
                          "currency": {
                            "type": "string",
                            "default": "EUR"
                          }
                        }
                      },
                      "shipping": {
                        "type": "object",
                        "required": [
                          "value"
                        ],
                        "properties": {
                          "value": {
                            "type": "number",
                            "description": "Shipping amount",
                            "default": 0,
                            "format": "float"
                          },
                          "currency": {
                            "type": "string",
                            "default": "EUR"
                          }
                        }
                      },
                      "lang": {
                        "type": "string",
                        "description": "Defines the Language of the email notifications.",
                        "default": "PT"
                      },
                      "expirationDate": {
                        "type": "string",
                        "description": "Defines the date when the link will expire (Default value is 24 hours after the link creation)",
                        "default": "2099-12-31 23:59:59",
                        "format": "date"
                      },
                      "successUrl": {
                        "type": "string",
                        "description": "The payer will be forwarded to this url if the payment process is successful."
                      },
                      "failUrl": {
                        "type": "string",
                        "description": "The payer will be forwarded to this url if the payment process fails."
                      },
                      "backUrl": {
                        "type": "string",
                        "description": "The payer will be forwarded to this url if the user presses back."
                      }
                    }
                  },
                  "products": {
                    "type": "array",
                    "description": "All products in the order. This param may include different objects (products).",
                    "items": {
                      "properties": {
                        "sku": {
                          "type": "string",
                          "description": "Product code (Required to pay with Cofidis Pay)"
                        },
                        "name": {
                          "type": "string",
                          "description": "Product name"
                        },
                        "value": {
                          "type": "number",
                          "description": "Product price",
                          "format": "float"
                        },
                        "quantity": {
                          "type": "integer",
                          "description": "Number of times this product is ordered  (Required to pay with Cofidis Pay)",
                          "format": "int32"
                        },
                        "tax": {
                          "type": "number",
                          "description": "Tax percentage (Required to pay with Cofidis Pay)",
                          "format": "float"
                        },
                        "discount": {
                          "type": "number",
                          "description": "(Required to pay with Cofidis Pay)",
                          "format": "float"
                        },
                        "description": {
                          "type": "string",
                          "description": "Text describing the product (Required to pay with Cofidis Pay)"
                        }
                      },
                      "required": [
                        "value"
                      ],
                      "type": "object"
                    }
                  },
                  "customer": {
                    "type": "object",
                    "description": "Informations regarding customer's notifications",
                    "properties": {
                      "notify": {
                        "type": "boolean"
                      },
                      "email": {
                        "type": "string",
                        "description": "Customer's email"
                      },
                      "nome": {
                        "type": "string",
                        "description": "Customer's name"
                      }
                    }
                  }
                }
              },
              "examples": {
                "Example": {
                  "value": {
                    "payment": {
                      "identifier": "New Test",
                      "amount": {
                        "value": 100.3,
                        "currency": "EUR"
                      },
                      "shipping": {
                        "value": 20.1,
                        "currency": "EUR"
                      },
                      "lang": "PT"
                    },
                    "products": [
                      {
                        "sku": "111111111",
                        "name": "Product 1",
                        "value": 50.1,
                        "quantity": 1,
                        "tax": 23,
                        "discount": 0,
                        "description": "Description of product 1"
                      },
                      {
                        "sku": "111111111",
                        "name": "Product 2",
                        "value": 30.1,
                        "quantity": 1,
                        "tax": 23,
                        "discount": 0,
                        "description": "Description of product 2"
                      }
                    ],
                    "customer": {
                      "notify": true,
                      "email": "exemplo@eupago.pt",
                      "nome": "Nome"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "{\n    \"transactionStatus\": \"Success\",\n    \"transactionID\": \"af3df607c6724870be962a69cac30b99\",\n    \"status\": \"Pendente\",\n    \"redirectUrl\": \"https://sandbox.eupago.pt/api/extern/paybylink/form/af3df607c6724870be962a69cac30b99\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactionStatus": {
                      "type": "string",
                      "example": "Success"
                    },
                    "transactionID": {
                      "type": "string",
                      "example": "af3df607c6724870be962a69cac30b99"
                    },
                    "status": {
                      "type": "string",
                      "example": "Pendente"
                    },
                    "redirectUrl": {
                      "type": "string",
                      "example": "https://sandbox.eupago.pt/api/extern/paybylink/form/af3df607c6724870be962a69cac30b99"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Auth Missing": {
                    "value": "{\n  \"transactionStatus\": \"Rejected\",\n  \"code\": \"APIKEY_MISSING\",\n  \"text\": \"API Key was not available in the request\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactionStatus": {
                      "type": "string",
                      "example": "Rejected"
                    },
                    "code": {
                      "type": "string",
                      "example": "APIKEY_MISSING"
                    },
                    "text": {
                      "type": "string",
                      "example": "API Key was not available in the request"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1.02/paybylink/qrcode": {
      "post": {
        "summary": "PayByLink QR Code",
        "description": "Creates a request to allow the customer to pay using PayByLink.",
        "operationId": "paybylink-qrcode",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "payment"
                ],
                "properties": {
                  "payment": {
                    "type": "object",
                    "description": "Informations regarding the payment",
                    "properties": {
                      "identifier": {
                        "type": "string"
                      },
                      "amount": {
                        "type": "object",
                        "required": [
                          "value",
                          "currency"
                        ],
                        "properties": {
                          "value": {
                            "type": "number",
                            "description": "Payment amount",
                            "format": "float"
                          },
                          "currency": {
                            "type": "string",
                            "default": "EUR"
                          }
                        }
                      },
                      "shipping": {
                        "type": "object",
                        "required": [
                          "value"
                        ],
                        "properties": {
                          "value": {
                            "type": "number",
                            "description": "Shipping amount",
                            "default": 0,
                            "format": "float"
                          },
                          "currency": {
                            "type": "string",
                            "default": "EUR"
                          }
                        }
                      },
                      "lang": {
                        "type": "string",
                        "description": "Defines the Language of the email notifications.",
                        "default": "PT"
                      },
                      "expirationDate": {
                        "type": "string",
                        "description": "Defines the date when the link will expire (Default value is 24 hours after the link creation)",
                        "default": "2099-12-31 23:59:59",
                        "format": "date"
                      },
                      "successUrl": {
                        "type": "string",
                        "description": "The payer will be forwarded to this url if the payment process is successful."
                      },
                      "failUrl": {
                        "type": "string",
                        "description": "The payer will be forwarded to this url if the payment process fails."
                      },
                      "backUrl": {
                        "type": "string",
                        "description": "The payer will be forwarded to this url if the user presses back."
                      }
                    }
                  },
                  "products": {
                    "type": "array",
                    "description": "All products in the order. This param may include different objects (products).",
                    "items": {
                      "properties": {
                        "sku": {
                          "type": "string",
                          "description": "Product code (Required to pay with Cofidis Pay)"
                        },
                        "name": {
                          "type": "string",
                          "description": "Product name"
                        },
                        "value": {
                          "type": "number",
                          "description": "Product price",
                          "format": "float"
                        },
                        "quantity": {
                          "type": "integer",
                          "description": "Number of times this product is ordered  (Required to pay with Cofidis Pay)",
                          "format": "int32"
                        },
                        "tax": {
                          "type": "number",
                          "description": "Tax percentage (Required to pay with Cofidis Pay)",
                          "format": "float"
                        },
                        "discount": {
                          "type": "number",
                          "description": "(Required to pay with Cofidis Pay)",
                          "format": "float"
                        },
                        "description": {
                          "type": "string",
                          "description": "Text describing the product (Required to pay with Cofidis Pay)"
                        }
                      },
                      "required": [
                        "value"
                      ],
                      "type": "object"
                    }
                  },
                  "customer": {
                    "type": "object",
                    "description": "Informations regarding customer's notifications",
                    "properties": {
                      "notify": {
                        "type": "boolean"
                      },
                      "email": {
                        "type": "string",
                        "description": "Customer's email"
                      },
                      "nome": {
                        "type": "string",
                        "description": "Customer's name"
                      }
                    }
                  }
                }
              },
              "examples": {
                "Example": {
                  "value": {
                    "payment": {
                      "identifier": "New Test",
                      "amount": {
                        "value": 100.3,
                        "currency": "EUR"
                      },
                      "shipping": {
                        "value": 20.1,
                        "currency": "EUR"
                      },
                      "lang": "PT"
                    },
                    "products": [
                      {
                        "sku": "111111111",
                        "name": "Product 1",
                        "value": 50.1,
                        "quantity": 1,
                        "tax": 23,
                        "discount": 0,
                        "description": "Description of product 1"
                      },
                      {
                        "sku": "111111111",
                        "name": "Product 2",
                        "value": 30.1,
                        "quantity": 1,
                        "tax": 23,
                        "discount": 0,
                        "description": "Description of product 2"
                      }
                    ],
                    "customer": {
                      "notify": true,
                      "email": "exemplo@eupago.pt",
                      "nome": "Nome"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "text/plain": {
                "examples": {
                  "OK": {
                    "value": "<div\n    style=\"width:200.000000px;height:200.000000px;position:relative;font-size:0;border:none;padding:0;margin:0;background-color:rgba(100%,100%,100%,1);\">\n    <div\n        style=\"background-color:rgba(0%,0%,0%,1);left:0.000000px;top:0.000000px;width:37.837838px;height:5.405405px;position:absolute;border:none;padding:0;margin:0;\">\n        &nbsp;</div>\n    <div\n        style=\"background-color:rgba(0%,0%,0%,1);left:48.648649px;top:0.000000px;width:5.405405px;height:5.405405px;position:absolute;border:none;padding:0;margin:0;\">\n        &nbsp;</div>\n    <div\n        style=\"background-color:rgba(0%,0%,0%,1);left:64.864865px;top:0.000000px;width:10.810811px;height:5.405405px;position:absolute;border:none;padding:0;margin:0;\">\n        &nbsp;</div>\n    <div\n        style=\"background-color:rgba(0%,0%,0%,1);left:86.486486px;top:0.000000px;width:5.405405px;height:5.405405px;position:absolute;border:none;padding:0;margin:0;\">\n        &nbsp;</div>\n    <div\n        style=\"background-color:rgba(0%,0%,0%,1);left:97.297297px;top:0.000000px;width:10.810811px;height:5.405405px;position:absolute;border:none;padding:0;margin:0;\">\n        &nbsp;</div>\n    <div\n        style=\"background-color:rgba(0%,0%,0%,1);left:124.324324px;top:0.000000px;width:5.405405px;height:5.405405px;position:absolute;border:none;padding:0;margin:0;\">\n        &nbsp;</div>\n    <div\n        style=\"background-color:rgba(0%,0%,0%,1);left:135.135135px;top:0.000000px;width:5.405405px;height:5.405405px;position:absolute;border:none;padding:0;margin:0;\">\n        &nbsp;</div>\n    <div\n        style=\"background-color:rgba(0%,0%,0%,1);left:145.945946px;top:0.000000px;width:5.405405px;height:5.405405px;position:absolute;border:none;padding:0;margin:0;\">\n        &nbsp;</div>\n    <div\n        style=\"background-color:rgba(0%,0%,0%,1);left:162.162162px;top:0.000000px;width:37.837838px;height:5.405405px;position:absolute;border:none;padding:0;margin:0;\">\n        &nbsp;</div>\n    <div\n        style=\"background-color:rgba(0%,0%,0%,1);left:0.000000px;top:5.405405px;width:5.405405px;height:5.405405px;position:absolute;border:none;padding:0;margin:0;\">\n        &nbsp;</div>\n    <div\n        style=\"background-color:rgba(0%,0%,0%,1);left:32.432432px;top:5.405405px;width:5.405405px;height:5.405405px;position:absolute;border:none;padding:0;margin:0;\">\n        &nbsp;</div>\n    <div\n        style=\"background-color:rgba(0%,0%,0%,1);left:54.054054px;top:5.405405px;width:16.216216px;height:5.405405px;position:absolute;border:none;padding:0;margin:0;\">\n        &nbsp;</div>\n    <div\n        style=\"background-color:rgba(0%,0%,0%,1);left:75.675676px;top:5.405405px;width:37.837838px;height:5.405405px;position:absolute;border:none;padding:0;margin:0;\">\n        &nbsp;</div>\n    <div\n        style=\"background-color:rgba(0%,0%,0%,1);left:124.324324px;top:5.405405px;width:16.216216px;height:5.405405px;position:absolute;border:none;padding:0;margin:0;\">\n        &nbsp;</div>\n    <div\n        style=\"background-color:rgba(0%,0%,0%,1);left:145.945946px;top:5.405405px;width:10.810811px;height:5.405405px;position:absolute;border:none;padding:0;margin:0;\">\n        &nbsp;</div>\n    <div\n        style=\"background-color:rgba(0%,0%,0%,1);left:162.162162px;top:5.405405px;width:5.405405px;height:5.405405px;position:absolute;border:none;padding:0;margin:0;\">\n        &nbsp;</div>\n    <div\n        style=\"background-color:rgba(0%,0%,0%,1);left:194.594595px;top:5.405405px;width:5.405405px;height:5.405405px;position:absolute;border:none;padding:0;margin:0;\">\n        &nbsp;</div>\n    <div\n        style=\"background-color:rgba(0%,0%,0%,1);left:0.000000px;top:10.810811px;width:5.405405px;height:5.405405px;position:absolute;border:none;padding:0;margin:0;\">\n        &nbsp;</div>\n    <div\n        style=\"background-color:rgba(0%,0%,0%,1);left:10.810811px;top:10.810811px;width:16.216216px;height:5.405405px;position:absolute;border:none;padding:0;margin:0;\">\n        &nbsp;</div>\n    <div\n        style=\"background-color:rgba(0%,0%,0%,1);left:32.432432px;top:10.810811px;width:5.405405px;height:5.405405px;position:absolute;border:none;padding:0;margin:0;\">\n        &nbsp;</div>\n    <div\n        style=\"background-color:rgba(0%,0%,0%,1);left:43.243243px;top:10.810811px;width:16.216216px;height:5.405405px;position:absolute;border:none;padding:0;margin:0;\">\n        &nbsp;</div>\n    <div\n        style=\"background-color:rgba(0%,0%,0%,1);left:64.864865px;top:10.810811px;width:16.216216px;height:5.405405px;position:absolute;border:none;padding:0;margin:0;\">\n        &nbsp;</div>\n    <div\n        style=\"background-color:rgba(0%,0%,0%,1);left:86.486486px;top:10.810811px;width:5.405405px;height:5.405405px;position:absolute;border:none;padding:0;margin:0;\">\n        &nbsp;</div>\n    <div\n        style=\"background-color:rgba(0%,0%,0%,1);left:118.918919px;top:10.810811px;width:10.810811px;height:5.405405px;position:absolute;border:none;padding:0;margin:0;\">\n        &nbsp;</div>\n    <div\n        style=\"background-color:rgba(0%,0%,0%,1);left:140.540541px;top:10.810811px;width:5.405405px;height:5.405405px;position:absolute;border:none;padding:0;margin:0;\">\n        &nbsp;</div>\n    <div\n        style=\"background-color:rgba(0%,0%,0%,1);left:162.162162px;top:10.810811px;width:5.405405px;height:5.405405px;position:absolute;border:none;padding:0;margin:0;\">\n        &nbsp;</div>\n    <div\n        style=\"background-color:rgba(0%,0%,0%,1);left:172.972973px;top:10.810811px;width:16.216216px;height:5.405405px;position:absolute;border:none;padding:0;margin:0;\">\n        &nbsp;</div>\n    <div\n        style=\"background-color:rgba(0%,0%,0%,1);left:194.594595px;top:10.810811px;width:5.405405px;height:5.405405px;position:absolute;border:none;padding:0;margin:0;\">\n        &nbsp;</div>\n    <div\n        sty
[...]
